/******** Layout ********/
body {
  margin: 0;
  padding: 0;
  font-family: NanumSquare, sans-serif;
}

.no-nanumsquare {
  /* NanumSquare assigns an empty glyph for unsupported characters. */
  /* For that reason, using font fallback with NanumSquare is not possible. */
  /* To use character '⋮', I added 'no-nanumsquare' CSS class. */
  font-family: sans-serif;
}

.cols {
  display: flex;
  width: 1200px;
  background: white;
}

.col {
  flex: 1;
  padding-bottom: 45px;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

/******** Table Styling ********/
.table-container {
  position: relative;
}

table {
  margin-left: 20px;
  table-layout:fixed;
  border-collapse: collapse;
}

th, td {
  width: 36px;
  position: relative;
}

th::after, td::after {
  content: '';
  display: block;
  margin-top: 100%;
}

th .content, td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-header {
  align-items: flex-end;
  border-bottom: 1px solid black;
}

.row-header {
  justify-content: flex-end;
  padding-right: 4px;
  border-right: 1px solid black;
}

.cell {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #ddd;
}

/******** Table label styling ********/
.column-label {
  position: absolute;
  top: -4px;
  left: 140px;
}

.row-label {
  position: absolute;
  top: 190px;
  left: -45px;
  transform: rotate(90deg);
}

/******** Table cell styling ********/
.empty {
  position: relative;
}

.empty::after {
  content: '';
  margin: 0;
  width: 1px;
  height: 1px;
  background-color: black;
  position: absolute;
  right: 0;
  bottom: 0;
}

.cell {
  color: #444;
}

.is-dark {
  color: #999 !important;
  background-color: #555 !important;
}

.is-red-mark {
  color: red;
}

.is-highlighted {
  background-color: #ffddff;
}
